{% extends "base.html" %}

{% block content %}
<h2>Lista de Associados</h2>
<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <th>Nome dos Associados</th>
                <th>Mensalidade Paga ({{ mes_atual_display }})</th> {# Indica o mês atual no cabeçalho #}
                <th>Data Pagamento</th>
                {% if current_user.is_authenticated %}
                <th>Ações</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for associado in associados %}
            <tr>
                <td>{{ associado.nome }}{% if associado.apelido %} ({{ associado.apelido }}){% endif %}</td>
                <td>
                    {# Lógica para buscar o pagamento do mes_atual #}
                    {% set pagamento_atual = associado.pagamentos|selectattr("mes", "equalto", mes_atual)|first %}
                    {% set status_text = pagamento_atual.status if pagamento_atual else 'Pendente' %}
                    
                    {# Aplica uma classe CSS com base no status #}
                    {% if status_text == 'OK' %}
                        <span class="status-badge status-ok">{{ status_text }}</span>
                    {% elif status_text == 'Pendente' %}
                        <span class="status-badge status-pendente">{{ status_text }}</span>
                    {% else %}
                        {# Para outros status como 'NA' #}
                        <span class="status-badge status-na">{{ status_text }}</span>
                    {% endif %}
                </td>
                <td>
                    {% if pagamento_atual and pagamento_atual.data_pagamento %}
                        {{ pagamento_atual.data_pagamento.strftime('%d/%m/%Y') }}
                    {% endif %}
                </td>
                {% if current_user.is_authenticated %}
                <td>
                    <a href="{{ url_for('editar_associado', associado_id=associado.id) }}" class="btn btn-sm btn-outline-primary" title="Editar"><i class="fas fa-edit"></i></a>
                    <button type="button" onclick="openDeleteModal('{{ url_for('remover_associado', associado_id=associado.id) }}', '{{ associado.nome }}')" class="btn btn-sm btn-danger" title="Remover">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                    <a href="{{ url_for('historico_pagamentos_associado', associado_id=associado.id) }}" class="btn btn-sm btn-outline-success" title="Gerenciar Pagamentos">
                        <i class="fas fa-money-check-alt"></i>
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
            {% if not associados %}
            <tr>
                <td colspan="{% if current_user.is_authenticated %}5{% else %}4{% endif %}">Nenhum associado encontrado.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>
</div>
{% endblock %}