<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associados Futebol Clube</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <div class="container">
            <h1>ASSOCIADOS FUTEBOL CLUBE</h1>
        </div>
    </header>
    <nav>
        <div class="container">
            <a href="{{ url_for('associados') }}">Associados</a>
            <a href="{{ url_for('convidados') }}">Convidados</a>
            <a href="{{ url_for('adicionar') }}">Adicionar</a>
        </div>
    </nav>
    <main class="container">
        {% block content %}{% endblock %}
    </main>
</body>
</html>